h1 {
  font-size: 50px;
  letter-spacing: 5px !important;
  font-style: none;
  background: #CCC;
  margin: 0px;
  padding: 20px;
}
a {
  font-style: italic;
  color: #FFF;
  margin-right: 30px;
}
#menubar {
  background: #666;
  letter-spacing: 5px;
  padding-left: 25px;
}