img {
  width: 50px;
  height: 50px;
}
h3 {
  margin-top: 0px;
}
.posts {
  background: #EEE;
  padding: 20px;
  margin: 0 0 15px 0;
}
.postcomments {
  background: #FFF;
  margin: 20px 0 0 0;
  padding: 15px;
}
.postcomments img {
  margin: -10px 15px 0 0px;
  width: 40px;
  height: 40px;
}
.postcomments span {
  font-size: 20px;
}
.postcomments span i {
  font-size: 25px;
  margin: 0 5px 0 0;
}
.postcomments p {
  margin: 0 10px 0px 0px;
}
input.form-control {
  margin: 20px 0 0 0;
}
.morecomments {
  padding: 10px 0px 15px 0px;
}
.submitcomment {
  position: relative;
  top: -27px;
  right: 10px;
}
.commentsforlinks {
  margin: 20px 0 0 0;
}
header {
  padding: 20px;
  background: rgba(255, 228, 128, 0.9);
  height: 105px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: -20px;
  left: 0;
  transition: top 0.2s ease-in-out;
}
.nav-up {
    top: -95px;
}
a.btn, input.btn {
  border-radius: 0px;
  padding: 5px 15px 5px 15px;
  width: 100%;
}
#header .addPost {
  border-radius: 0px;
  padding: 5px 15px 5px 15px;
  width: 150px;
}
h3 > img {
  margin: 0 10px 0 0;
}
.modal-content {
  border-radius: 0px !important;
}
#header div a.addPost {
  /*margin: 10px 0 0 0;*/
}
#newCommentsAlert {
  width: 75px;
  height: 75px;
  background: rgb(255, 115, 115);
  border-radius: 50px;
  padding: 8px 0 0 23px;
  font-size: 51px !important;
  position: absolute;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 24px;
  }
  p, a.btn, input.btn, div.posts, .modal-body, input.form-control {
    font-size: 18px;
  }
}
@media only screen and (max-device-width: 480px) {
  header {
    height: 230px;
  }
  .nav-up {
    top: -250px;
  }
  .posts {
    margin-top: 150px;
  }
  h1.header, h3, h2, h1 div, #commentsforlinkno div span{
    font-size: 64px !important;
  }
  p, a.btn, input.btn, div.posts, .modal-body, input.form-control {
    font-size: 52px;
  }
  input.form-control {
    height: 100px;
  }
  img, #commentsforlinkno div img{
    margin: -10px 15px 0 0px;
    width: 150px;
    height: 150px;
  }
  .postcomments p {
    margin: 35px 0px 0px 30px;
  }
  img, #commentsforlinkno div img {
    margin: 15px 20px 0 20px;
    width: 150px;
    height: 150px;
  }
  .posts {
    padding: 60px
  }
  .posts h3 {
    margin: 0 0 30px 0;
  }
  #header div a.addPost, header h1 div a {
    width: 40%;
    margin: 40px;
  }
  .posts div p:nth-child(2), .posts div p.text-right{
    margin: 30px 30px 30px 0;
    color: #999;
  }
  .postcomments div p {
    margin: 50px 30px 60px 30px;
  }
  i[class="icon-remove"] {
    font-size: 80px !important;
    position: relative;
    top: 25px;
  }
  .modal-dialog {
    width: 90% !important;
    margin: 30% auto;
  }
  .modal-footer div div a {
    margin: 10px 0 0 0;
  }
}