<div ng-controller="addCommentController as addcomment">
  <div class="row" ng-class="{blur: $index}">
    <div class="col-md-12 col-md-offset-0">
      <div class="posts">
        <h3>
          <img ng-src="{{main.list()[addcomment.postIndexforcomment()].img}}">
          {{main.list()[addcomment.postIndexforcomment()].username}}
        </h3>
        <div>
          {{main.list()[addcomment.postIndexforcomment()].link}} 
        </div>
        <div>
          <p class="text-right"><small>{{main.list()[addcomment.postIndexforcomment()].time | date:'MMM d, y @ h:mm a'}}</small></p>
        </div>
        <div id="commentsforlinkno{{$index}}">
          <div ng-repeat="comment in main.list()[addcomment.postIndexforcomment()].comments" class="postcomments animate-repeat">
            <img ng-src="{{comment.img}}">
            <span>
              {{comment.username}}
              <div class="text-danger pull-right" ng-if="comment.username == addcomment.currentUser()[0].username">
                <i class="icon-remove" ng-click="open(0, this.$index, main.pathlocation.path())"></i>
              </div>
            </span>
            <div>
              <p>{{comment.comment}} </p>
            </div>
            <div>
              <p class="text-right"><small>{{comment.time | date:'MMM d, y @ h:mm a'}}</small></p>
            </div>
          </div>
          <form name="myForm">
            <input type="text" class="form-control" placeholder="Write a Comment..." ng-model="feedcomment" required/>
            <br />
            <a class="btn btn-primary animate-repeat" type="submit" ng-if="myForm.$valid" ng-click="addcomment.addComment(feedcomment); feedcomment = ''" href="/">Add Comment</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>