<div ng-controller="addPostController as post">
  <div class="row" ng-class="{blur: $index}">
    <div class="col-md-12 col-md-offset-0">
      <div class="posts">
        <h2>Write a Post</h2>
        <form name="myForm">
          <input type="text" class="form-control" placeholder="Write a Post..." ng-model="newItem" required/>
          <br />
          <a class="btn btn-primary animate-repeat" ng-if="myForm.$valid" ng-click="post.add(newItem); newItem = '';" href="/">Add Post</a>
        </form>
      </div>
    </div>
  </div>
</div>